data/*
!data/dnsmasq.d
data/dnsmasq.d/*
!data/dnsmasq.d/02-my-wildcard-dns.conf
!data/dnsmasq.d/99-edns.conf
!data/certs
!data/cname
data/cname/output
data/certs/*
!data/certs/generate.sh
!data/certs/root.cnf
!data/certs-generator
data/certs-generator/*
!data/certs-generator/templates
!data/unbound/unbound.conf
!data/hermes-proxy
external_hdd/
.env

# workspace artifacts
data/**/*.bak-*
docker-compose.yaml.bak-*
.sops-age-key.txt
